{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Liste de mes articles</h1>
            <div class="mt-2">
                <a class="btn btn-success" href="{{ path('account_article_new') }}"><i class="fas fa-plus"></i> Nouveau</a>
            </div>
        </div>
        {% for article in articles %}
            {% if app.user.email == article.users.email %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Image</th>
                            <th scope="col">Subtitle</th>
                            <th scope="col">Price</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Publish</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ article.id }}</th>
                            <td>{{ article.name }}</td>
                            <td>{{ article.slug }}</td>
                            <td> <img src="{{ article.image }}" alt="{{ article.image }}" class="img-fluid" width="200" height="200"></td>
                            <td>{{ article.subtitle }}</td>
                            <td>{{ article.price }}</td>
                            <td>{{ article.tags }}</td>
                            <td>{{ article.createdAt|date('d-m-Y H:i') }}</td>
                            <td>
                                <div class="d-flex mt-4">
                                    <a href="{{ path('article', { 'slug': article.slug }) }}" class="text-primary me-3" target="_blank"><i class="far fa-eye"></i></a>
                                    <a href="{{ path('app_account_article_edit', { slug: article.slug }) }}" class="text-success me-3"><i class="far fa-edit"></i></a>
                                    <a href="{{ path('app_account_article_delete', { slug: article.slug, id: article.id }) }}" class="text-danger"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
