{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="{{ article.image }}" alt="{{ article.image }}" class="img-fluid">
            </div>
            <div class="col">
                <h1>{{ article.name }}</h1>
                    <h5 class="fw-bold">{{ article.price }} €</h5>
                    <p class="text-muted">{{ article.createdAt|date('d-m-Y H:i') }}</p>
                    <span class="bg-info rounded p-1">{{ article.tags }}</span>
                    <p class="text-justify text-muted mt-2">{{ article.subtitle }}</p>

                    <div class="d-flex justify-content-between">
                        <div class="col-md-3">
                            <p>Publié par : {{ article.users.lastname }} {{ article.users.firstname }}</p>
                        </div>
                        <div class="card text-center p-2">
                            <span class="mb-2">Note du vendeur</span>
                            <form action="{{ path('app_user_vote', { slug: article.slug, id: article.users.id }) }}" method="post">
                                {% if article.users.email != app.user.email %}
                                    <button class="btn btn-success btn-sm" name="vote" value="up"><i class="fas fa-thumbs-up"></i></button>
                                    <button class="btn btn-danger btn-sm" name="vote" value="down"><i class="fas fa-hand-middle-finger"></i></button>
                                {% endif %}
                                {% if article.users.vote <= "0" %}
                                    <i class="fas fa-hand-middle-finger"></i>
                                {% else %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% endif %}
                                <span>{{ article.users.vote }}</span>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mt-3 mb-4 p-2">
                <h6>Description :</h6>
                <p class="text-justify mt-2">{{ article.description }}</p>
            </div>
            <hr>
            <div class="card p-3">
                <h4>Questions & Réponses :</h4>
                    {% if app.user.email != article.users.email %}
                        {{ form(formQuestion) }}
                    {% endif %}
                    {% for question in article.questions|reverse %}
                        <div class="card p-2 mb-3">
                            <div class="d-flex">
                                <h5>{{ question.name }}</h5>
                            </div>

                            <div class="bg-warning p-2 rounded mb-2" style="--bs-bg-opacity: .5;">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="text-muted">Écrit par : {{ question.user.lastname }} {{ question.user.firstname }}</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-muted me-2">{{ question.taskAt|ago }}</p>
                                        {% if app.user.email == question.user.email %}
                                            <div class="dropdown">
                                                <button class="btn btn-secondary opacity-75 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                                                    <div class="d-flex justify-content-center">
                                                        <li class="pe-3"><a href="{{ path('app_question_edit', { id: question.id, slug: article.slug }) }}" class="text-primary"><i class="far fa-edit"></i></a></li>
                                                        <li><a href="{{ path('app_question_delete', { id: question.id, slug: article.slug }) }}" class="text-danger"><i class="far fa-trash-alt"></i></a></li>
                                                    </div>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <p class="text-black">{{ question.question }}</p>
                            </div>
                            {% for answer in question.answers %}
                                <div class="bg-success p-2 rounded mb-2" style="--bs-bg-opacity: .5;">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="text-muted">Écrit par : {{ answer.user.lastname }} {{ answer.user.firstname }}</p>
                                        </div>
                                        <div class="d-flex">
                                            <p class="text-muted me-2">{{ answer.answerAt|ago }}</p>
                                            {% if app.user.email == article.users.email %}
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary opacity-75 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                                                        <div class="d-flex justify-content-center">
                                                            <li class="pe-3"><a href="{{ path('app_answer_edit', { id: answer.id, slug: article.slug }) }}" class="text-primary"><i class="far fa-edit"></i></a></li>
                                                            <li><a href="{{ path('app_answer_delete', { id: answer.id, slug: article.slug }) }}" class="text-danger"><i class="far fa-trash-alt"></i></a></li>
                                                        </div>
                                                    </ul>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <p class="text-black">{{ answer.content }}</p>
                                </div>
                            {% endfor %}


                            {% if app.user.email == article.users.email %}
                                <a class="btn btn-success btn-sm col-md-2" href="{{ path('app_answer', { slug: question.slug, id: question.id }) }}">Répondre</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
